body {
	color: black;
    background-color: rgb(255,238,134);
    font-size:12px;
    /*background-position : 214px -20px;
    background-repeat: no-repeat;
    background-size: contain; 
    height:100%;*/
    }

/*color light:rgb(255 238 134)*/
/*color dark :rgb(57,47,86) ;
/*color link rgb(58 31 118)

/*HEADER*/

.titre {
	margin:0em;
}

.titre a{
	font-size:5em;
	text-decoration: none;
	color: rgb(57,47,86);
}

.titre a:hover{
	opacity:0.8;
}


.penser-container:hover + .penser-border{
display:inline-block;
}


.faire-container:hover + .faire-border{
display:inline-block;

}

.penser-border{
	position:absolute;
	top:5%;
	right:1%;
	display:none;
	color:rgb(126,110,54);
	font-size:1em;
}


.faire-border{
	position:absolute;
	top:5%;
	right:1%;
	display:none;
	color:rgb(245,134,136);
	font-size:1em;
}

/*
.cat:hover .category-border{
	border-bottom: 2px rgb(255,255,255) solid;
/*background-image: url(http://www.corelangs.com/css/box/img/duck.png) no-repeat;*/
/*}*/


.navigation {
	display:flex;
	justify-content: space-between;
	font-size:3em;
	list-style-type: none;
	margin-top:0em;
	margin-bottom:0em;
}
/*
.navigation li:nth-child(3){
	position:relative;
	top:-4em;
	right:1%;
}
*/

.navigation li:hover{
	opacity:0.8;
}

a{
	text-decoration: none;
	color : rgb(57,47,86);
}

header {
	border-bottom: 2px rgb(57,47,86) solid;
}

.category-border{
	border-bottom: 2px rgb(100,100,100) solid;
	padding-top:1em;
	color:red;
}
/*XXXXX*/
/*INDEX*/
/*XXXXX*/

/*GLOBAL COUVERTURE*/
.global-couverture{
	display:flex;
	list-style-type: none;
}


.global-couverture li:nth-child(1)
{
    flex: 2;
}
.global-couverture li:nth-child(2)
{
    flex: 1;

}

#about-cover{
	background-image: url("http://localhost:8000/images/captt_diagramm3.png");
	background-repeat:no-repeat;
	background-size:contain;
}

#about-cover:hover{
	background-image: url("http://localhost:8000/images/captt_diagramm5.png");
	background-repeat:no-repeat;
	background-size:contain;
	transition : 0.1s ease;
}

/*CONTAINER*/
.container{
	position: relative;
}

.container-about{
}


.container img {
	margin-bottom: -0.5%;
}

.container:hover .couverture-titles{
	opacity:1;
}

.container img{
	transition: .1s ease;
}

.container:hover img{
	opacity:0.8;
}

/*COUVERTURE TITLES*/

.couverture-titles{
	opacity:0;
	transition: .5s ease;
	color : black;
}

.couverture-titles p {
	font-size:2em;
}

.couverture-titles time {
	font-size:3em;
	color : rgb(255,255,255);
}

.couverture-titles h3 {
	font-size:1em;
	font-style: italic;
}

.couverture-titles h4 {
	font-size:1em;
	font-style: italic;
}

.couverture-titles h1 {
	font-size:8em;
	top: -5%;
}

.couverture-titles h2 {
	font-size:6em;
	margin-top:-5%;
}

.couverture-titles {
	display:flex;
	justify-content:center;
	list-style-type: none;
	flex-direction:column;
	position:absolute;
	top:5%;
	flex-wrap: wrap;
}


.couverture-titles li:nth-child(2) {
	flex:1;
	margin-bottom:-9em;
}
.couverture-titles li:nth-child(3) {
	flex:1;
	width:100%;
}
.couverture-titles li:nth-child(1) {
	width:100%;
}

.art-index-penser{
	color:rgb(126,110,54);
	font-size:3em;
}


.art-index-faire{
	color:rgb(245,134,136);
	font-size:3em;
}


/*RECENTS*/
.recents {
	display:flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content:center;
	list-style-type: none;
}

.recents li {
	max-width:100%;
	padding: 1rem 2rem 1rem 0;
}
.recents img{
	width:100%;
	height:350px;
	object-fit:cover;
}



.push{margin-top:auto;}

/*XXXXX*/
/*CATEGORY*/
/*XXXXX*/

/*.description p {
}*/

.category{
width:50%;
}

.faire-background-faire{
	background-image: url("../images/captt_background_faire_7.png");
	background-repeat: repeat;
	background-size: auto;
}

.penser-background-penser{
	background-image: url("../images/captt_background_faire_7.png");
	background-repeat: repeat;
	background-size: auto;
	position:relative;
	left:96%;
}

.faire-category-faire {
	display : block;
	font-size: 2em;
	position:relative;
	left:96%;
}

.faire-category-penser h3{
	display:none;
}

.penser-category-faire h3{
	display:none;
}

.penser-category-penser {
	display : block;
	font-size: 2em;
	position:relative;
	left:6%;


}

.penser {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	width:100%;
	position: relative;
}

.penser li {
	width: 100%;
}

.penser img {
	width:100%;
}

.category-container:hover img{
	opacity:0.8;
}

.category-container{
	position:relative;
}

.category-subtitles {
	position : absolute;
	top:5%;
	left:8%;
}

.category-subtitles h4 {
	font-size:2em;
	font-style: italic;
	margin:auto;
	color:black;
}

.category-subtitles time {
	font-size:3em;
	top: -5%;
	color:white;
}

.category-subtitles h2 {
	font-size:6em;
	margin:auto;
		color:black;

}

.faire {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	width:100%;
	position:relative;
	left:90%;
}

.faire li {
	width: 100%;
	margin-bottom:2em;
}

.faire img {
	width:100%;
}

}
.col-cat{
	display: flex;
	flex-direction: column}

.summary p {

}

/*.blog, li.blog {
	/*.featured-img, p.img {
		background-color: $color_low;
	}
	.category {
		color: $color_low;
	}
	.category-blog{
		display: block;
	}
}*/


/*
.idées, li.idées {
	/*.featured-img, p.img {
		background-color: $color_hig;
	}
	.category {
		color: $color_hig;
	}
	.category-idee{
		display: block;
	}
}*/