{% extends "base.html" %}
{% block title %}{{ category }} | {{ SITENAME }}{% endblock title %}

<body>
{% block content %}
	<div class = "category">
		<div class="faire-background-{{category|lower}}">
			<div class="faire-category-{{category|lower}}">
			  	<h3>
			  		Des idées en vrac : certaines ont déjà pu être développées, d'autres n'ont pas encore eu cette chance... Sentez-vous libre de vous en emparer.
			  	</h3>
			</div>
			<div class="penser-category-{{category|lower}}">
	  			<h3>
	    			Des reflexions mises à l'écrit sur des sujets divers, sous des formes variées.<br/> J'espère qu'elles vous inspireront.
	  			</h3>
	  		</div>
			<ul class="{{category|lower}}">
			{% if category == "penser" %}
	        	<div class="art-index-penser">☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉</div>
	        	{% endif %}
		      {% for article in articles %}
		      <li>
		      	<a style="display:block" href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">
		      	<div class = "category-container">
		          {% if article.featured_image %}
		            <img src="{{ SITEURL }}/{{ article.featured_image }}" alt="{{ article.slug }}">
		          {% endif %}
			          <div class ="category-subtitles">
				          <h2>{{ article.title }}</h2>
				          {% if article.summary %}
				            <h4>{{ article.summary }}</h4>
				          {% endif %}
		          		  <time>{{ article.date|strftime('%M %Y')}}</time>
		      		</div>
		      	</div>
		      </a>
	        	{% if article.category == "penser" %}
	        	<div class="art-index-penser">☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉</div>
	        	{% endif %}

		      </li>
		      {% endfor %}
	    	</ul>
      </div>
  </div>
  <div class = "penser-background-{{category|lower}}">
  	
  </div>
</body>
  {% endblock content %}

