{% extends "base.html" %}

<body>
	{% block content %}
	<section>
    	
	<ul class="global-couverture">   
	    <li>
			<a style="display:block" href="{{ SITEURL }}/{{ articles_page.object_list[0].url }}" title="Permalink to {{ articles_page.object_list[0].title|striptags }}">
		    	<div class="container-{{articles_page.object_list[0].category|lower}}">
		    		{% if articles_page.object_list[0].featured_image %}
		          		<img src="{{ SITEURL }}/{{ articles_page.object_list[0].featured_image }}" alt="image de couverture">
			        {% endif %}

			    	<ul class = 'couverture-titles'>
				    <!--   <li> 
				        	{% if articles_page.object_list[0].category == "penser" %}
				        	<div class="art-index-penser">☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉</div>
				        	{% endif %}
				        	{% if articles_page.object_list[0].category == "faire" %}
				        	<div class="art-index-faire">◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈</div>
				        	{% endif %}-->

				        </li>
				        <li>
				        	<h1>{{ articles_page.object_list[0].title }}</h1>
						</li>
				        <li>
				          	{% if articles_page.object_list[0].summary %}
				            <h3>{{ articles_page.object_list[0].summary }}</h3>
				          	{% endif %}
				        </li>

				   </ul>
				</div>
			</a>
		<li id="about-cover">
			<div class='container-about'>
				<h3> </h3>
			</div> 
		</li>
	</ul>

	    <ul class="recents">

	      {% for article in articles_page.object_list[1:] %}
	      <li>
	      	<a style="display:block" href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">
	      	<div class="container-{{article.category|lower}}">
		          {% if article.featured_image %}
		        	<img src="{{ SITEURL }}/{{ article.featured_image }}" alt="{{ article.slug }}">
		          {% endif %}
		        <ul class = 'couverture-titles'>
		        	<!-- <li> 
				        	{% if article.category == "penser" %}
				        	<div class="art-index-penser">☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉  ☉</div>
				        	{% endif %}
				        	{% if article.category == "faire" %}
				        	<div class="art-index-faire">◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈  ◈</div>
				        	{% endif %}-->

				    </li>
		        	<li>
		        		<h2>{{ article.title }}</h2>
		      		</li>
		      		<li >
		          		{% if article.summary %}
		            		<h4>{{ article.summary }}</p></h4>
		          		{% endif %}
		          	</li>

		        </ul>
		    </div>
		</a>
	      </li>
	      {% endfor %}
    	</ul>
      </section>
  {% endblock content %}
